{% extends "base.html" %}

{% block content %}

<h2 class="page-title mb-4">My Appointments</h2>

<div class="card p-3">
    {% if appointments %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>
                            Dr {{ appointment.slot.doctor.first_name }}
                            {{ appointment.slot.doctor.last_name }}
                        </td>
                        <td>{{ appointment.slot.date }}</td>
                        <td>{{ appointment.slot.start_time }} - {{ appointment.slot.end_time }}</td>
                        <td>{{ appointment.reason|default:"No reason provided" }}</td>
                        <td>{{ appointment.status }}</td>
                        <td>
                            {% if appointment.status == "Booked" %}
                                <a href="{% url 'edit_my_appointment' appointment.id %}" class="btn btn-warning btn-sm">
                                    Edit
                                </a>

                                <a href="{% url 'cancel_my_appointment' appointment.id %}" class="btn btn-danger btn-sm">
                                    Cancel
                                </a>
                            {% else %}
                                No action
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You do not have any appointments yet.</p>
        <a href="{% url 'slot_list' %}" class="btn btn-primary">Book Appointment</a>
    {% endif %}
</div>

{% endblock %}